.DraggableColorBox {
  width: 20%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -3.5px;
  height: 50%;
}

.DraggableColorBox.showFull {
  height: 25%;
}
