.NewPaletteForm {
  display: flex;
}

.NewPaletteForm .button-group {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NewPaletteForm-appbar button {
  margin: 0 1rem;
  width: 6rem;
}

.NewPaletteForm-appbar a {
  text-decoration: none;
}
