.PaletteList {
  background-color: #394bad;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url(bg.svg);
  overflow: scroll;
}

.PaletteList-container {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .PaletteList-container {
    width: 80%;
  }
}

.PaletteList-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.PaletteList-header a {
  color: white;
}

.PaletteList-palettes-container {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 5%;
  row-gap: 5%;
}

@media screen and (max-width: 900px) {
  .PaletteList-palettes-container {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 600px) {
  .PaletteList-container {
    width: 60%;
  }

  .PaletteList-palettes-container {
    grid-template-columns: repeat(1, 100%);
    row-gap: 2%;
  }
}
